:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --adrress-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px)
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding: 94px 0;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

.page-body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/*header*/

.start-section {
  border: 1px solid #ECECEC;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--logo-color);
}

.footer-logo {
  color: var(--main-bg-color);
}

/*site nav*/

.site-nav .link {
  color: var(--title-text-color);
}

/* site+contacts nav */
.site-nav .current ,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .mail:hover,
.contacts-nav .mail:focus,
.contacts-nav .phone:hover,
.contacts-nav .phone:focus {
  color: var(--accent-color);
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*contacts nav*/

.contacts-nav .mail,
.contacts-nav .phone {
  color: var(--primary-text-color);
}

/*Hero*/

.hero {
  text-align: center;
  margin-bottom: 79px;
}

.hero,
.end-section {
  background-color: var(--primary-bg-color);
}

.hero-title {
  margin-bottom: 30px; ;

  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button,
.primary-button:hover,
.primary-button:focus {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*main*/

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title {
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/*our team*/

.our-team {
  background-color: var(--secondary-bg-color);
}

.member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member-domain {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/*footer*/

.address {
  color: var(--main-bg-color);
}

.end-section .mail,
.end-section .phone {
  color: var(--adrress-color);
}

.address:hover,
.address:focus,
.end-section .mail:hover,
.end-section .mail:focus,
.end-section .phone:hover,
.end-section .phone:focus {
  color: var(--accent-color);
}

/*portfolio*/

.secondary-button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

.special-button,
.special-button:hover,
.special-button:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.link-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
